.contact {
    width: 100%;
    background: transparent;
    &__map {
        width: 100%;
    }
    &__detail {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: -1rem;
        padding: 5rem 0rem;
        background: $color-grey-light-2;
        .detail {
            &__wrapper {
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                width: 80%;
                @include respond(screen-l) {
                    flex-flow: row;
                }
            }
            &__item {
                background: $color-white;
                flex-flow: column;
                margin: 1rem 0;
                padding: 2rem 0;
                @include respond(screen-l) {
                    flex-flow: row;
                    flex: 0 0 calc(33.3333% - 1rem);
                }
            }
        }
        .item {
            &__content-wrapper {
                display: flex;
                flex-flow: column;
                align-items: center;
            }
            &__text-wrapper {
                display: flex;
                flex-flow: column;
            }
            &__text {
                font-size: $default-font-size;
            }
            &__link {
                cursor: pointer;
            }
            &__icon {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
}