.customer{
    width: 100%;
    padding: 5rem 0 9rem;
    font-size: $default-font-size;
    display: flex;
    color: $color-grey-light-3;
   

    &__wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item{
        // background: #000;
        // @include respond(screen-m) {
        //     flex: 0 0 calc(50% - 1rem);
        // }
        @include respond(screen-l) {
            flex: 0 0 calc(33.3333% - 1rem);
        }
    }

    &__text{
        padding: 1rem 2rem 1rem;
    }

    &__info{
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0 2rem;
    }

    &__img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &__detail{
        margin-left: 1rem;
    }


}