.features {
    width: 80%;
    &__heading {
        color: $color-grey-light-1;
    }

    
    &__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around; // align-items: center;
        width: 100%;
        @include respond(screen-l) {
            flex-flow: row wrap;
        }
    }
    &__item {
        color: $color-grey-dark-2;
        background: $color-white;
        display: flex;
        flex-flow: column;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        flex: 0 0 calc(50% - 2rem);
        .item {
            display: flex;
            flex-flow: column;
            &__header {
                display: block;
                text-align: center;
                .item__img {
                    max-width: 100%;
                    max-height: 100%;
                    flex: 2;
                }
            }
            &__body {
                padding: 1rem 2rem;
                font-size: $default-font-size;

                @include respond(screen-l){
                    flex: 1;
                }
                .info {
                    &__text {
                        font-size: $default-font-size;
                    }
                }
            }

            &__footer {
                display: flex;
                flex-flow: row;
                justify-content: center;
            }
        }
    }
}