.footer {
    background: $color-grey-light-2;
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &__wrapper {
        padding: 5rem 0 3rem;
        @include respond(screen-m) {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            justify-content: space-between;
        }
    }
    &__item {
        flex: 0 0 calc(50% - 1rem);
        display: flex;
        flex-flow: column;
        align-items: center;
        background: $color-white;
        padding: 2rem 5rem;
        margin: 4rem 0;
        position: relative;
        @include respond(screen-s) {
            padding: 2rem 8rem;
        }
        @include respond(screen-m) {
            padding: 2rem 4rem;
            margin: 0;
        }
        @include respond(screen-l) {
            padding: 2rem 0;
        }
        .item {
            &__heading {
                font-weight: 600;
                font-size: 2rem;
            }
            &__body {
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 100%;
                align-items: center;
            }
            &__section {
                display: flex;
                margin: .5rem 0;
                width: 80%;
            }

            &__link{
                cursor: pointer;
            }

            &__icon {
                padding-top: .5rem;
                margin-right: 4rem;
            }
            &__social-icons {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                width: 100%;
                font-size: 2rem;
                margin-top: 2rem;
            }
        }
    }

    &__copyright {
        width: 100%;
        text-align: center;
        margin: 2rem auto 1rem;
    }
}