@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
    320px - 479px:      Screen Extra Extra Small   screen-xs       <= Design Default
    480px - 639px:      Screen Extra Small         screen-s  
    768px - 991px:      Screen Medium              screen-m        <= Standard
    992px - 1199px:     Screen Large               screen-l
    1200px - 1799px:    Screen Extra Large         screen-xl
    1800px +:           Screen Extra Extra Large   screen-xxl      <= Special

1em = 16px;

ORDER:

1. Base & Typography
2. General Layout & Grid
3. Page Layout
4. Components

*/


@mixin respond($breakpoint) {
    @if $breakpoint==screen-s {
        @media only screen and (min-width: 30em) {
            //480px/16 = 30em
            @content
        }
    }
    ;
    @if $breakpoint==screen-m {
        @media only screen and (min-width: 48em) {
            //768px/16 = 48em
            @content
        }
    }
    ;
    @if $breakpoint==screen-l {
        @media only screen and (min-width: 62em) {
            //992px/16 = 62em
            @content
        }
    }
    ;
    @if $breakpoint==screen-xl {
        @media only screen and (min-width: 75em) {
            //1200px/16 = 75em
            @content
        }
        
    }
    ;
    @if $breakpoint==screen-xxl {
        @media only screen and (min-width: 112.5em) {
            //1800px/16 = 112.5em
            @content
        }
    }
    ;
}